html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow: hidden;
}
.App {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.count,
.step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
button {
  height: 35px;
  width: 35px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
button:active {
  scale: 0.9;
}
.show-date {
  margin-top: 10px;
}
